body {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    background-color: #FCF7F8;
}

header {
    background: #343330;
    color: #FCF7F8;
    padding: 2.5em;
    text-align: center;
}

nav {
    background: olivedrab;
}

nav h3 {
    color: #FCF7F8;
}

nav ul {
    line-height: 2.5;
    list-style: none;
    list-style-type: none;
}

footer {
    background-color: #343330;
    padding: 2.5em;
    text-align: center;
}

footer a img {
    border-radius: 50%;
}