body {
    font-family: 'Lato', sans-serif;
    font-size: 110%;
    background-color: #FCF7F8;
}

header {
    background: #343330;
    color: #FCF7F8;
    padding: 2.5em;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    place-items: center;
}

header aside {
    height: 205px;
    width: 205px;
    cursor: default;
    background: linear-gradient(135deg, #14ffe9, #ffeb3b, #ff00e0);
    border-radius: 50%;
    animation: animate 1.5s linear infinite;
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
}

header aside img {
    width: 96%;
    height: 96%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}

@keyframes animate {
    100% {
        filter: hue-rotate(360deg);
    }
}

nav {
    background: olivedrab;
}

nav h3 {
    color: #FCF7F8;
}

nav ul {
    line-height: 2.5;
    list-style: none;
    list-style-type: none;
}

footer {
    background-color: #343330;
    color: #FCF7F8;
    padding: 2.5em;
    text-align: center;
}

footer a img {
    border-radius: 50%;
}